@mixin mobile {
    @media screen and (max-width: 453px) {
        @content;        
    }
}
@mixin laptop {
    @media screen and (min-width: 453px) {
        @content;        
    }
}
@mixin select-from-end($num) {
    &:nth-last-child(#{$num}) {
     @content
    }
  }

@mixin select-between($first,$last) {
    &:nth-child(n+#{$first}):nth-child(-n+#{$last}) {
      @content
    }
}
@mixin random-bgr(){
    background-color: rgb(random(255), random(255), random(255));
    
  }
.loginContainer{
    background-image: url('./img/background.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .loginWrapper{
        background-color: aliceblue;
        align-items: center;
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        // padding: 20px 40px;
        overflow: hidden;
        min-width: 300px;
        width: 450px;
        margin: 20px 20px;
        padding: 30px 10px;
        .logo{
            img{
            height:252px;
            width: 252px;
            }
            margin-bottom: 20px;
            margin-top: 20px;    
        }
        button{
            
            margin: 10px;
            // padding: 10px;
            background-color: transparent;
            border: none;
            overflow: hidden;

              background-position: center;
            @include laptop{
                // display: none;
            }
            :hover{
                cursor: pointer;
            }
        }
    }

    
}

.homeContainer{
    background-image: url('./img/background.png');
    background-size: cover ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .topNav{
        position: fixed;
        display: flex;
        top: 0px;
        left: 0px;
        width: 100vw;
        // float: top;
        // max-height: 62px;
        height: 60px;
        justify-content: center;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        background-color: rgba(240, 248, 255, 0.884);
        .topNavWrapper{
            display: flex;
            justify-content: space-between;
            width: 1200px;
            min-width: 53px;
            height: 60px;
            
            .flatLogo{
                margin: 10px 5px 10px 10px;

                @include laptop(){
                    margin: 0px 10px 15px 40px;
                    
                }
                img{
                   width: 140px;
                    // min-height: 30px;
                    @include laptop(){
                        // width: 20vw;
                        // max-height: 100px;
                        height: 100%;
                        width: auto;
                        // height: 60px;
                    }
                    }
            }
            
            .searchContainer{
                min-width: 50px;
                width: 500px;
                margin: 10px 10px 10px 10px;
                background-color: rgba(248, 247, 247, 0.801);
                border-radius: 7px;
                position: relative;
                border-color: rgba(66, 66, 66, 0.281);
                outline: none;
                border-style:solid;
                border-width: 1px;
                padding-right: 24px;
                .searchInput{
                    // width: 50px;
                    // max-width: 480px;
                    position: relative;
                    padding-left: 20px;
                    width: 100%;
                    height: 100%;
                    // // margin: 10px 10px 10px 10px;
                    background-color: rgba(248, 247, 247, 0.801);
                    border-radius: 7px;
                    border-color: rgba(66, 66, 66, 0.281);
                    outline: none;
                    border-style:solid;
                    border-width: 1px;
                    padding-left: 20px;
                    
                }
                .SearchIcon{
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    height: 100%;
                    width: 40px;
                    text-align: center;
                    line-height: 46px;
                    font-size: 20px;
                    color: #5d5d5e;
                    cursor: pointer;
                }
                .searchSuggestions{
                    position: absolute;
                    background-color: aliceblue;
                    width: 100%;
                    cursor: default;
                    border-radius: 0 0 15px 15px;
                    box-shadow:0 3px 10px rgb(0 0 0 / 0.2);
                    li{
                        margin: 10px 10px;
                        padding: 10px 10px;
                        list-style: none;
                        overflow: hidden;
                        &:hover{
                            background-color: rgba(97, 97, 97, 0.075);
                            border-radius: 7px;
                        }
                        
                    }
                }
                
               
            }
            .profileButton{
                display:grid;
                width: 35px;
                
                height: 35px;
                
                border-radius: 50%;
                background-color: purple;
                // justify-content: center;
                min-width: 30px;
                // align-items: center;
                margin: auto;
                margin-right: 10px;
                // ::after{
                //     min-width: 30px;
                // width: 50px;
                // min-height: 30px;
                // height: 50px;
                // }
                @include mobile{
                    @include select-between(1,5){
                        background-color: red;
                        display: none;
                    
                }
                }
               
            }
        }
        
        
    }
    .postFeedsContainer{
        position: relative;
        right: 50%;
        // top: 0px;
        // overflow-y:scroll;
        width: 360px;
        display: flex;
    
        flex-direction: column;
        margin-top: 70px;
        
        .postsContainer{

            margin: 10px 10px;
            // overflow-y:scroll;
            border-radius: 15px;
    
            height: 200px;
            // @include random-bgr();
            background-color: aliceblue;
            
            
        }
    }

}

